body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-width: none;
  overflow: hidden;
}
.chatImage {
  height: 16px;
  width: 18.5px;
}
.map {
  height: 100%;
  width: 100%;
}
.player {
  position: absolute;
  width: 2.702%;
  object-fit: contain;
}
noscript {
  text-align: center;
  color: red;
}
#gameCode {
  line-height: 0;
  position: absolute;
  top: 0;
  left: 0;
}
#gameContainer {
  height: 100vh;
  background-color: black;
}
#game {
  margin: auto;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 250px;
}
#chatHeader {
  position: relative;
  top: 0;
  padding: 7px;
  background-color: rgba(0,0,0,0.2);
  border-bottom-color: black;
  border-bottom-width: 1px;
  font-size: 16px;
  border-bottom-style: solid;
  text-align: center;
  margin: 0;
}
#chatHeader > span {
  height: 16px;
}
#chatContainer {
  position: absolute;
  right: 0;
  background-color: white;
  top: 0;
  height: 100%;
  width: 249px;
  border-left-width: 1px;
  border-left-color: black;
  border-left-style: solid;
}
#chat {
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 10px 0 10px;
  top: 33px;
  width: 229px;
  bottom: 0;
}
#chat > p {
  font-size: 13px;
}
.systemMessage {
  text-align: center;
}
::-webkit-scrollbar {
  display: none;
}